.search-container {
    width: 600px;
}

li {
    padding: 10px;
    list-style: none;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    margin: 1rem auto;
    border-radius: .5rem;
    max-width: 1000px;
    line-height: 30px;
    p:first-of-type {
        width: fit-content;
        border-bottom: solid 2px black;
        margin: auto;
        font-weight: bold;
    }
    P:nth-child(2) {
        margin-top: 10px;
    }
}

.card {
    transition: all .5s ease-in-out;
    cursor: pointer;
    user-select: none;
}

.card:hover {
    // transform: translateX(5%);
    transform: scale(115%);
    border-color: red;
}