.main {
    width: 1200px;
    min-height: 100%;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
}

h1 {
    padding: 25px 0;
    margin: auto;
    width: max-content;
    user-select: none;
}